@import url('https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap');
body
{
	background-color: chartreuse;
}
h1
{
	font-family: 'Syne Tactile', cursive;
	font-size: 72px;
	text-align: center;
}
h5
{
	text-align: center;
}
span
{
	font-family: 'Syne Tactile', cursive;
	font-size: 48px;
	color: maroon;
}