@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Creepster&display=swap');
*
{margin: 0; padding: 0; user-select: none;}
div.test
{
	text-align: center;
}
body
{
	background-image: url("../img/pinkdust.png");
}
button.main
{
	cursor: pointer;
	font-family: 'Audiowide', cursive;
	font-size: 48px;
	padding: 15px;
	background-color: transparent;
	border: none;
	color: whitesmoke;
}
div.buttonwrap
{
	text-align: center;
	color: whitesmoke;
	margin-top: 30px;
}
p
{
	margin-top: 15px;
	width: 75vw;
	word-break: break-all;
	text-align: center;
}
p.one
{
	font-family: 'Audiowide', cursive;
	font-size: 32px;
	color: lime;
}
p.two
{
	font-family: arial;
	font-size: 30px;
	color: teal;
}
p.three
{
	font-family: helvetica;
	font-size: 18px;
	color: red;
}
div.pwrap
{
	display:flex;
	justify-content:center;
}
button.show
{
	cursor: pointer;
	padding: 5px;
	background-color: transparent;
	border: none;
	color: orange;
}
button.hide
{
	display: none;
}
